<?

$files_utils = array('byteorder.cpp',
    		'converters.cpp',
    		'directory_walker.cpp',
        	'exception.cpp',
        	'file.cpp',
        	'file_utils.cpp',
        	'format_stream.cpp',
        	'format_stream_write.cpp',
        	'guid.cpp',
        	'io_stream.cpp',
        	'lock.cpp',
        	'memtrash.cpp',
        	'path.cpp',
        	'path_utils.cpp',
        	'posix.cpp',
        	'posix_time.cpp',
        	'registry.cpp',
        	'stream_buffer.cpp',
        	'timestamp.cpp',
        	'password_quality_checker.cpp',
        	'drive_id.cpp',
        	'os_version.cpp',
        	'system.cpp',
        	'version.cpp',
        	'verbose.cpp',
        	'string_utils.cpp',
        	'xor_filter.cpp');

$include = array( 	__DIR__.'\include',
					Build::get()->getRootHomeDir('atlansys-ess').'\src\include'
				);

Build::get()->reg_target('utils', array(
							'tool' => 'vcc130', 
							'make' => 'static_lib', 
							'home_dir' => __DIR__, 
							'src' => $files_utils,
							'include' => $include,
							'link' => $link
					)
			);
